img{
    width: 100%;
    padding-right: 5%;
    height: 580px;
}
h1{
     color: rgb(50, 34, 189);;
}
.control{
    margin-top: 5%;
}
.btn-next-back{
    float:left
}
.btn-hidden{
    visibility: hidden;
}
#btn-next{
    background-color: rgb(109, 95, 234);
}

