.content {
    width: 400px;
}
.close{
    background-color: inherit;
    color: #002d40;;
    border: none;
}
.close :hover{
    color: red;
}
.btn {
    background-color: #002d40;
    color: white;
    width: 80px;
    height: 40px;
  }





 