.navbar {
  min-height: 80px;
  background-color: #002d40;
  z-index: 1;
}

.menu-icon {
  font-size: 30px;
  float: right;
}

.navbar-brand {
  cursor: pointer;
}

.translate-logo {
  width: 50px;
  height: 50px;
  background-color: #eee;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}
