<nav class="navbar navbar-expand-lg shadow-lg sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand text-white fs-3 fw-bold">Rms</a>
    <button
      class="menu btn btn-info text-white d-lg-none"
      mat-button
      [matMenuTriggerFor]="menu"
    >
      Menu
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="">Home</button>
      <button mat-menu-item routerLink="product">Products</button>
      <button mat-menu-item routerLink="category">Category</button>
      <button mat-menu-item routerLink="customers">Customers</button>
      <button mat-menu-item routerLink="profits">Profits</button>
      <button mat-menu-item>Investors</button>
      <button mat-menu-item>Installment</button>
      <button mat-menu-item>Order</button>
      <button mat-menu-item>Log In</button>
    </mat-menu>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="product">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="category">Category</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="customers">Customers</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="profits">Profits</a>
        </li>

        <li class="nav-item">
          <a class="nav-link">Investors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Installment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-2">Order</a>
        </li>
      </ul>
      <button class="btn btn-outline-light" type="submit">Log in</button>
    </div>
  </div>
</nav>
