<nav class="navbar navbar-expand-lg shadow-lg sticky-top">
  <div class="container-fluid">
    <button mat-icon-button (click)="clickMenu()" class="side-nav-button">
      <mat-icon class="menu-icon mat-icon text-white me-2">menu</mat-icon>
    </button>

    <a class="navbar-brand text-white fs-3 fw-bold m-10" (click)="openHome()"
      >Rms</a
    >

    <div class="collapse navbar-collapse">
      <button *ngIf="!userLogged()"  class="btn btn-outline-light ms-auto" type="submit" routerLink="login">
        {{ "login" | translate }}
      </button>
      <button *ngIf="userLogged()" class="btn btn-outline-light ms-auto" type="submit" (click)="logout()">
        {{ "logout" | translate }}
      </button>
    </div>
    
  </div>
  <a mat-button (click)="selectTranslate()">
    <img src="assets/translate.png" class="translate-logo" />
  </a>
</nav>
