.navbar {
  min-height: 80px;
  background-color: #002d40;
  z-index: 1;
}

.menu-icon {
  font-size: 30px;
}

.navbar-brand {
  cursor: pointer;
}
@media (max-width: 992px) {
  .side-nav-button {
    display: none;
  }
}
