<div class="update-product">
  <div class="container shadow-lg">
    <section class="panel panel-default">
      <div class="panel-heading pt-5">
        <h3 class="panel-title">Manage Investors</h3>
      </div>
      <div class="panel-body">
        <form [formGroup]="popupInvestorForm">
          <fieldset class="w-200">
            <mat-form-field appearance="outline" class="m-2">
              <mat-label>Full Name</mat-label>
              <input
                formControlName="fullName"
                type="text"
                matInput
                placeholder="Enter your fullName"
                fxFlex="40"
              />
              <mat-error
                *ngIf="
                  popupInvestorForm.controls['fullName'].hasError('fullName') &&
                  !popupInvestorForm.controls['fullName'].hasError('required')
                "
              >
                Please enter Investor fullName
              </mat-error>
              <mat-error
                *ngIf="
                  popupInvestorForm.controls['fullName'].hasError('required')
                "
              >
                Investor fullName is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="m-2">
              <mat-label>nickName</mat-label>
              <input
                formControlName="nickName"
                type="text"
                matInput
                placeholder="Enter your nickName"
                fxFlex="40"
              />
              <mat-error
                *ngIf="
                  popupInvestorForm.controls['nickName'].hasError('nickName') &&
                  !popupInvestorForm.controls['nickName'].hasError('required')
                "
              >
                Please enter Investor nickName
              </mat-error>
              <mat-error
                *ngIf="
                  popupInvestorForm.controls['nickName'].hasError('required')
                "
              >
                Investor nickName is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="m-2">
              <mat-label> NationalId</mat-label>
              <input
                formControlName="nationalId"
                type="number"
                matInput
                placeholder="Enter nationalId"
                fxFlex="14"
              />
              <mat-error
                *ngIf="
                  popupInvestorForm.controls['nationalId'].hasError(
                    'version'
                  ) &&
                  !popupInvestorForm.controls['nationalId'].hasError('required')
                "
              >
                Please enter Investor nationalId
              </mat-error>
              <mat-error
                *ngIf="
                  popupInvestorForm.controls['nationalId'].hasError('required')
                "
              >
                Investor nationalId is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="m-2">
              <mat-label> primaryPhoneNo</mat-label>
              <input
                formControlName="primaryPhoneNo"
                type="number"
                matInput
                placeholder="Enter primaryPhoneNo"
                fxFlex="40"
              />
              <mat-error
                *ngIf="
                  popupInvestorForm.controls['primaryPhoneNo'].hasError(
                    'primaryPhoneNo'
                  ) &&
                  !popupInvestorForm.controls['primaryPhoneNo'].hasError(
                    'required'
                  )
                "
              >
                Please enter Investor primaryPhoneNo
              </mat-error>
              <mat-error
                *ngIf="
                  popupInvestorForm.controls['primaryPhoneNo'].hasError(
                    'required'
                  )
                "
              >
                Investor primaryPhoneNo is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <br />
            <mat-form-field appearance="outline" class="m-2">
              <mat-label> secondaryPhoneNo</mat-label>
              <input
                formControlName="secondaryPhoneNo"
                type="number"
                matInput
                placeholder="Enter secondaryPhoneNo"
                fxFlex="40"
              />
              <mat-error
                *ngIf="
                  popupInvestorForm.controls['secondaryPhoneNo'].hasError(
                    'secondaryPhoneNo'
                  ) &&
                  !popupInvestorForm.controls['secondaryPhoneNo'].hasError(
                    'required'
                  )
                "
              >
                Please enter Investor secondaryPhoneNo
              </mat-error>
              <mat-error
                *ngIf="
                  popupInvestorForm.controls['secondaryPhoneNo'].hasError(
                    'required'
                  )
                "
              >
                Investor secondaryPhoneNo is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="m-2">
              <mat-label> address</mat-label>
              <input
                formControlName="address"
                type="text"
                matInput
                placeholder="Enter address"
                fxFlex="40"
              />
              <mat-error
                *ngIf="
                  popupInvestorForm.controls['address'].hasError('address') &&
                  !popupInvestorForm.controls['address'].hasError('required')
                "
              >
                Please enter Investor address
              </mat-error>
              <mat-error
                *ngIf="
                  popupInvestorForm.controls['address'].hasError('required')
                "
              >
                Investor address is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="m-2">
              <mat-label> investorType</mat-label>
              <input
                formControlName="investorType"
                type="string"
                matInput
                placeholder="Enter investorType Manager or CONTRIBUTOR"
              />
              <mat-error
                *ngIf="
                  popupInvestorForm.controls['investorType'].hasError(
                    'investorType'
                  ) &&
                  !popupInvestorForm.controls['investorType'].hasError(
                    'required'
                  )
                "
              >
                Please enter Investor investorType
              </mat-error>
              <mat-error
                *ngIf="
                  popupInvestorForm.controls['investorType'].hasError(
                    'required'
                  )
                "
              >
                Investor investorType is Enter investorType Manager or
                CONTRIBUTOR<strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="m-2">
              <mat-label> balance</mat-label>
              <input
                formControlName="balance"
                type="number"
                matInput
                placeholder="Enter balance"
                fxFlex="40"
              />
              <mat-error
                *ngIf="
                  popupInvestorForm.controls['balance'].hasError('balance') &&
                  !popupInvestorForm.controls['balance'].hasError('required')
                "
              >
                Please enter Investor balance
              </mat-error>
              <mat-error
                *ngIf="
                  popupInvestorForm.controls['balance'].hasError('required')
                "
              >
                Investor balance is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <br />
            <mat-form-field appearance="outline" class="m-2">
              <mat-label> startDate</mat-label>
              <input
                formControlName="startDate"
                type="date"
                matInput
                placeholder="Enter startDate"
                fxFlex="40"
              />
              <mat-error
                *ngIf="
                  popupInvestorForm.controls['startDate'].hasError(
                    'startDate'
                  ) &&
                  !popupInvestorForm.controls['startDate'].hasError('required')
                "
              >
                Please enter Investor startDate
              </mat-error>
              <mat-error
                *ngIf="
                  popupInvestorForm.controls['startDate'].hasError('required')
                "
              >
                Investor startDate is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </fieldset>
        </form>
        <mat-dialog-actions align="end">
          <div class="row">
            <div class="col-12">
              <div class="page-footer-box">
                <button class="btn btn-success me-2" (click)="onSubmit()">
                  {{
                    popupInvestorForm.controls["id"].value ? "Update" : "Add"
                  }}
                </button>

                <button
                  class="btn btn-warning me-0 mb-0"
                  mat-button
                  (click)="resetTheForm()"
                >
                  Reset
                </button>
                <button
                  class="btn btn-light me-0 mb-0"
                  mat-button
                  mat-dialog-close
                >
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </mat-dialog-actions>
      </div>
    </section>
  </div>
</div>
