<div class="update-product">
  <div class="container shadow-lg">
    <section class="panel panel-default">
      <div class="panel-heading pt-5">
        <h3 class="panel-title">Manage Investors</h3>
      </div>
      <div class="panel-body">
        <form [formGroup]="popupInvestorForm">
          <fieldset class="manageinvestors row justify-content-center">
            <mat-form-field appearance="outline" class="m-1 col-4">
              <mat-label>Full Name</mat-label>
              <input
                formControlName="FullName"
                type="text"
                matInput
                placeholder="Enter your FullName"
              />
              <mat-error
                *ngIf="
                  popupInvestorForm.controls['fullName'].hasError('fullName') &&
                  !popupInvestorForm.controls['fullName'].hasError('required')
                "
              >
                Please Enter Investor FullName
              </mat-error>
              <mat-error
                *ngIf="
                  popupInvestorForm.controls['fullName'].hasError('required')
                "
              >
                Investor FullName is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="m-1 col-4">
              <mat-label>NickName</mat-label>
              <input
                formControlName="NickName"
                type="text"
                matInput
                placeholder="Enter your NickName"
              />
              <mat-error
                *ngIf="
                  popupInvestorForm.controls['nickName'].hasError('nickName') &&
                  !popupInvestorForm.controls['nickName'].hasError('required')
                "
              >
                Please enter Investor NickName
              </mat-error>
              <mat-error
                *ngIf="
                  popupInvestorForm.controls['nickName'].hasError('required')
                "
              >
                Investor NickName is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <br />
            <mat-form-field appearance="outline" class="m-1 col-4">
              <mat-label> NationalId</mat-label>
              <input
                formControlName="NationalId"
                type="number"
                matInput
                placeholder="Enter NationalId"
                onKeyPress="if(this.value.length==14) return false;"
              />
              <mat-error
                *ngIf="
                  popupInvestorForm.controls['nationalId'].hasError(
                    'version'
                  ) &&
                  !popupInvestorForm.controls['nationalId'].hasError('required')
                "
              >
                Please enter Investor nationalId
              </mat-error>
              <mat-error
                *ngIf="
                  popupInvestorForm.controls['nationalId'].hasError('required')
                "
              >
                Investor nationalId is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="m-1 col-4">
              <mat-label> PrimaryPhoneNo</mat-label>
              <input
                formControlName="PrimaryPhoneNo"
                type="number"
                matInput
                placeholder="Enter PrimaryPhoneNo"
                onKeyPress="if(this.value.length==11) return false;"
              />
              <mat-error
                *ngIf="
                  popupInvestorForm.controls['primaryPhoneNo'].hasError(
                    'primaryPhoneNo'
                  ) &&
                  !popupInvestorForm.controls['primaryPhoneNo'].hasError(
                    'required'
                  )
                "
              >
                Please enter Investor primaryPhoneNo
              </mat-error>
              <mat-error
                *ngIf="
                  popupInvestorForm.controls['primaryPhoneNo'].hasError(
                    'required'
                  )
                "
              >
                Investor primaryPhoneNo is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <br />
            <mat-form-field appearance="outline" class="m-1 col-4">
              <mat-label> SecondaryPhoneNo</mat-label>
              <input
                formControlName="secondaryPhoneNo"
                type="number"
                matInput
                placeholder="Enter secondaryPhoneNo"
                onKeyPress="if(this.value.length==11) return false;"
              />
              <mat-error
                *ngIf="
                  popupInvestorForm.controls['secondaryPhoneNo'].hasError(
                    'secondaryPhoneNo'
                  ) &&
                  !popupInvestorForm.controls['secondaryPhoneNo'].hasError(
                    'required'
                  )
                "
              >
                Please enter Investor SecondaryPhoneNo
              </mat-error>
              <mat-error
                *ngIf="
                  popupInvestorForm.controls['secondaryPhoneNo'].hasError(
                    'required'
                  )
                "
              >
                Investor SecondaryPhoneNo is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="m-1 col-4">
              <mat-label> Address</mat-label>
              <input
                formControlName="address"
                type="text"
                matInput
                placeholder="Enter Address"
              />
              <mat-error
                *ngIf="
                  popupInvestorForm.controls['address'].hasError('address') &&
                  !popupInvestorForm.controls['address'].hasError('required')
                "
              >
                Please enter Investor Address
              </mat-error>
              <mat-error
                *ngIf="
                  popupInvestorForm.controls['address'].hasError('required')
                "
              >
                Investor Address is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <br />
            <mat-form-field appearance="outline" class="m-1 col-4">
              <mat-label> InvestorType</mat-label>

              <mat-select
                type="string"
                placeholder="InvestorType"
                name="option"
                formControlName="investorType"
                matInput
                multiple
              >
                <mat-option
                  *ngFor="let investor of allInvestors"
                  [value]="investor"
                  >{{ investor.investorType }}</mat-option
                >
              </mat-select>
              <mat-error
                *ngIf="
                  popupInvestorForm.controls['investorType'].hasError(
                    'investorType'
                  ) &&
                  !popupInvestorForm.controls['investorType'].hasError(
                    'required'
                  )
                "
              >
                Please enter Investor investorType
              </mat-error>
              <mat-error
                *ngIf="
                  popupInvestorForm.controls['investorType'].hasError(
                    'required'
                  )
                "
              >
                Investor investorType is Enter investorType Manager or
                CONTRIBUTOR<strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="m-1 col-4">
              <mat-label> Balance</mat-label>
              <input
                formControlName="balance"
                type="number"
                matInput
                placeholder="Enter Balance"
              />
              <mat-error
                *ngIf="
                  popupInvestorForm.controls['balance'].hasError('balance') &&
                  !popupInvestorForm.controls['balance'].hasError('required')
                "
              >
                Please enter Investor balance
              </mat-error>
              <mat-error
                *ngIf="
                  popupInvestorForm.controls['balance'].hasError('required')
                "
              >
                Investor Balance is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <br />
            <mat-form-field appearance="outline" class="m-1 col-6">
              <mat-label> StartDate</mat-label>
              <input
                formControlName="StartDate"
                type="date"
                matInput
                placeholder="Enter startDate"
              />
              <mat-error
                *ngIf="
                  popupInvestorForm.controls['startDate'].hasError(
                    'startDate'
                  ) &&
                  !popupInvestorForm.controls['startDate'].hasError('required')
                "
              >
                Please enter Investor StartDate
              </mat-error>
              <mat-error
                *ngIf="
                  popupInvestorForm.controls['startDate'].hasError('required')
                "
              >
                Investor StartDate is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </fieldset>
        </form>
        <mat-dialog-actions align="end">
          <div class="row">
            <div class="col-12">
              <div class="page-footer-box">
                <button
                  class="btn btn-success me-2"
                  (click)="onSubmit()"
                  (click)="onButtonClick()"
                  [disabled]="click"
                >
                  {{
                    popupInvestorForm.controls["id"].value ? "Update" : "Add"
                  }}
                </button>

                <button
                  class="btn btn-warning me-0 mb-0"
                  mat-button
                  (click)="resetTheForm()"
                >
                  Reset
                </button>
                <button
                  class="btn btn-light me-0 mb-0"
                  mat-button
                  mat-dialog-close
                >
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </mat-dialog-actions>
      </div>
    </section>
  </div>
</div>
