<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/court.css">
</head>
<body>
<div class="background" data-ng-init="getGov()">
    <div class="container" dir="rtl">
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-header">
                        <p>اضافه محكمه </p>
                    </div>
                    <div class="card-content mx-auto">
                        <form novalidate class="m-5">
                            <label>المحافظه</label><br>
                            <select class="form-select w-25 mb-4" ng-model="gov" ng-change="getCourt(gov)" ng-options="x.arabicName for x in govs">{{govs|json}}
                            </select>
                            <div class="row">
                                <div class="col-3" hidden>
                                    <input type="text" class="form-control" ng-model="court.id" value="court.id"/><br /><br />
                                </div>
                                <div class="col-3">
                                    <label>الاسم بالعربى:</label><br>
                                    <input type="text" class="form-control" ng-model="court.arabicName" value="court.arabicName"/><br /><br />
                                </div>
                                <div class="col-3">
                                    <label>الاسم بالانجليزى:</label><br>
                                    <input type="text" class="form-control" ng-model="court.englishName"/><br /><br />
                                </div>
                                <div class="col-3">
                                    <label>الكود:</label><br>
                                    <input type="text" class="form-control" ng-model="court.code"/><br /><br />
                                </div>
                                <div class="col-3 mt-4">
                                    <input class="form-check-input" type="checkbox" ng-model="court.enabled">
                                    <label>نشط</label><br><br>
                                </div>
                                <div class="d-flex">
                                    <button class="btn shadow w-25 mx-4" ng-click="save(court,gov)">{{ court.id? 'تعديل' : 'اضافه' }}</button>
                                    <button class="btn btn-danger shadow w-25" ng-click="reset()">مسح</button>
                                </div>
                            </div>
                        </form>

                        <table class="table mt-5">
                            <thead>
                            <tr style="background-color: rgb(180, 180, 180);">
                                <th scope="col">#</th>
                                <th scope="col">الاسم بالعربى</th>
                                <th scope="col">الاسم بالانجليزى</th>
                                <th scope="col">الكود</th>
                                <th scope="col">تعديل/حذف</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr dir-paginate="(key, value) in courts | itemsPerPage: 5">
                                <th scope="row">{{key + 1}}</th>
                                <td>{{value.arabicName}}</td>
                                <td>{{value.englishName}}</td>
                                <td>{{value.code}}</td>
                                <td>
                                    <i class="fa fa-close mx-2" ng-click="deleteCourt(value.id, gov)"></i>
                                    <i class="fa fa-edit" ng-click="fetch(value)"></i>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <dir-pagination-controls></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
</body>
</html>