.main {
  min-height: 820px;
}
.content {
  height: 600px;
}
.content-size {
  width: 90%;
}
.btn {
  background-color: #002d40;
  color: white;
  width: 80px;
  height: 40px;
}
.table-button {
  background-color: transparent;
  color: #002d40;
  cursor: pointer;
}
.table-button:hover,
.add-icon:hover {
  color: red;
}
mat-icon {
  font-size: 30px;
}
.add-icon {
  cursor: pointer;
}
th,
td {
  line-height: 2;
}
