<div class="container mx-auto text-center my-5">
  <div class="text-center mt-5">
    <h3 class="panel-title fw-bold">
      {{ "category.our-category" | translate }}
    </h3>
  </div>
  <div class="row shadow-lg">
    <div class="col-8  fix-table ">
      <div class="overflow-scroll data-table " *ngIf="allCategory">
        <table class="w-100  text-start content" mat-table [dataSource]="allCategory">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6">
              {{ "no" | translate }}.
            </th>
            <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6">
              {{ "name" | translate }}
            </th>
            <td mat-cell *matCellDef="let category">{{ category.name }}</td>
          </ng-container>
          <ng-container matColumnDef="status" class="status">
            <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6">
              {{ "category.status" | translate }}
            </th>
            <td mat-cell *matCellDef="let category">
              {{ category.status }}
            </td>
          </ng-container>
          <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" class="update-icon">
              <mat-icon class="table-button"(click)="fetchData(element)">edit</mat-icon>
            </td>
          </ng-container>
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <mat-icon class="table-button" (click)="openConfirmationDialog(element)"
                >delete</mat-icon
              >
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <tr class="mat-row spinner-row" *matNoDataRow>
            <td>
              <app-loading-spinner></app-loading-spinner>
            </td>
          </tr>
        </table>
        <mat-paginator [length]="totaItem"
              [pageSizeOptions]="[10,5,25,100]"
              (page)="$event;onPaginationChange($event)"
              showFirstLastButtons
              aria-label="Select page"
              class="fw-bold fs-6 d-flex justify-content-center pe-4 me-2 py-3 ">
        </mat-paginator>
      </div>
      </div>  

    <div class="content col-4 bg-light">
      <div class="panel-heading pt-3 ps-1 mb-5">
        <div class="">
          <h3 class="float-start">
            {{
              categoryForm.controls["id"].value
                ? ("update" | translate)
                : ("add" | translate)
            }}
            {{ "category.category" | translate }}
          </h3>
        </div>

        <mat-icon
          class="add-icon me-4 pt-4 float-end"
          (click)="restartForm()"
          [hidden]="!categoryForm.controls['id'].value"
        >
          add
        </mat-icon>
      </div>

      <div class="clearfix"></div>
      <form [formGroup]="categoryForm" class="min-height:auto">
        <mat-form-field appearance="outline" class="w-100 ms-2 col-4">
          <mat-label> {{ "category.category-name" | translate }}</mat-label>
          <input
            formControlName="name"
            type="text"
            matInput
            placeholder="{{ 'enter-your-name' | translate }}"
            fxFlex="40"
          />
          <mat-error
            *ngIf="
              categoryForm.controls['name'].hasError('name') &&
              !categoryForm.controls['name'].hasError('required')
            "
          >
            {{ "category.name-field" | translate }}
          </mat-error>
          <mat-error *ngIf="categoryForm.controls['name'].hasError('required')">
            {{ "category.name-field" | translate }}
            <strong> {{ "product.required" | translate }} </strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100 ms-2 col-4">
          <mat-label>{{ "category.status" | translate }}</mat-label>

          <mat-select
            placeholder="{{ 'status' | translate }}"
            formControlName="status"
          >
            <mat-option value="true">True</mat-option>
            <mat-option value="false">False</mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              categoryForm.controls['status'].hasError('status') &&
              !categoryForm.controls['status'].hasError('required')
            "
          >
            {{ "category.status-field" | translate }}
          </mat-error>
          <mat-error
            *ngIf="categoryForm.controls['status'].hasError('required')"
          >
            {{ "category.status-field" | translate }}
            <strong> {{ "product.required" | translate }} </strong>
          </mat-error>
        </mat-form-field>
      </form>

      <mat-dialog-actions align="end">
        <div class="mt-5">
          <button
            class="btn me-3 mt-0"
            (click)="onSubmit()"
            [disabled]="submit"
          >
            {{
              categoryForm.controls["id"].value
                ? ("update" | translate)
                : ("add" | translate)
            }}
          </button>
          <button class="btn mt-5" mat-button (click)="resetTheForm()">
            {{
              categoryForm.controls["id"].value
                ? ("reset" | translate)
                : ("clear" | translate)
            }}
          </button>
        </div>
      </mat-dialog-actions>
    </div>
  </div>
</div>
