<div class="main">
    
      <div class="land-container d-flex justify-content-start align-items-center ">
        <div class="w-50 ms-5">
        <p class=" pragraph fs-1 fw-bold text-light">Let’s Start Your Interview</p>
        <p class="pra fs-5 text-white-50">Our simulator is  to help you master your interview skills in the most efficient way possible,
           so you can be prepared to ace the interview in no time.</p>
      </div>
    </div>
    
        <div  class="row  justify-content-center align-items-center justify-content-around " >
        <div class=" col-md-4 col-sm-10 mt-5 text-center">
          <p class="fs-3 fw-bold "> Informatique Mock Interview</p>
          <p class="fs-5">Simulate realistic interviews for  different job positions and level up your skills in no time.
            Take unlimited interviews and master your skills from anywhere
          </p>
          <button type="button" class="btn btn-danger mt-3">Learn More</button>
        </div>
        <div class="col-md-5 col-sm-10">
          <img class="img-card mt-5" src="/assets/images/mock.png">
        </div>
    
   

    
      <div class=" programes-container mt-5">
      <div class="w-100 text-center">
       <h2 class="fs-2 fw-bold text-black" >Our Programmes</h2>
      </div>
      <div class="programes h-100 ">
       <div class="row justify-content-around ">
      <div class="col-md-4 col-sm-10 mt-5"><img class="w-75 ms-5 card-img" src="/assets/images/full-interview.jpg">
        <h3 class="text-center text-black mt-3 fw-bold">Interview Preparation</h3>
        <p class="text-center text-black mt-3 w-75 ms-5">Many interview questions and answers in various programming fields that help you
           prepare yourself before the personal interview</p>
          <button type="button" class="more-btn btn btn-danger position-relative mt-3">Learn More</button>
      </div>

      <div class="col-md-4 col-sm-10 mt-5">  <img class="w-75 ms-5 card-img" src="/assets/images/cover.png">
        <h3 class="text-center text-black mt-3 fw-bold">Review Your CV</h3>
        <p class="text-center text-black mt-3 w-75 ms-5">You can review your CV by the skills required for each position on our website</p>
          <button type="button" class=" more-btn btn btn-danger position-relative mt-3">Learn More</button>
      </div>

        <div class="col-md-4 col-sm-10 mt-5"> 
       <img class="w-75 ms-5 card-img " src="/assets/images/test.png">
        <h3 class="text-center text-black mt-3 fw-bold">Test Your Skills</h3>
        <p class="text-center text-black mt-3 ms-5  w-75">There are many questions based on previous personal interviews,
           through which you can test and evaluate yourself</p>
          <button type="button" class=" more-btn btn btn-danger position-relative mt-3">Learn More</button>
      </div>
    </div>
      </div>
    </div>
  
    </div>