.main {
  min-height: 820px;
}
.content {
  height: 600px;
}

th,
td {
  line-height: 4;
  min-width: 140px;
}

.print-btn {
  background-color: #002d40;
  width: 90px;
  height: 50px;
  margin-left: 4.3%;
}
.print-icon{
  bottom: 5px;
  right: 5px;
}

@media print {
.update-icon, .table-button ,.function-btn {
     display: none;
}

 th,td {
  line-height: 4;
  min-width: 140px;
  border-bottom: 1px solid black;
}
}

