<div class="form-group">
  <mat-label class="mb-3" *ngIf="label">{{ fieldName }}</mat-label>
<mat-form-field style="width: 100%" appearance="outline">
  <textarea matInput
  #autosize="cdkTextareaAutosize"
  [cdkAutosizeMaxRows]="cdkAutosizeMaxRows"
  [cdkAutosizeMinRows]="cdkAutosizeMinRows"
  cdkTextareaAutosize
  appInputLimiter
  [maxLength]="maxLength"
  [formControl]="control"
  >

  </textarea>
  <mat-hint *ngIf="hint" align="start"><strong>{{ hint }}</strong> </mat-hint>
  <mat-error>
    <app-control-messages [control]="control" [fieldName]="fieldName"></app-control-messages>
  </mat-error>
</mat-form-field>
</div>