@media (min-width: 992px) {
    .fixed-height{
        height: 650px;
    }
}
@media (max-width: 991.98px) {
    .fixed-height{
        height:auto
    }
    .child-height{
        height: 500px;
    }
}