<main class="container">
  <div class="container text-center pt-5 ">
    <h2 class="panel-title fw-bold fs-2">Our Profits</h2>
  </div>
  <div class="row mat-elevation-z8 w-auto mt-5 mb-5 ">
    <div class="content-table col-xl-8 col-lg-8 col-md-12 col-sm-12 p-0 overflow-scroll data-table">

      <!-- =======================Table data=============================== -->

      <table mat-table [dataSource]="allProfits" class="w-100">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let i = index">{{ i + 1 }} </td>
        </ng-container>
        <ng-container matColumnDef="bookNo">
          <th mat-header-cell *matHeaderCellDef> BookNo </th>
          <td mat-cell *matCellDef="let element"> {{element.bookNo}} </td>
        </ng-container>

        <ng-container matColumnDef="profitAmount">
          <th mat-header-cell *matHeaderCellDef> ProfitAmount </th>
          <td mat-cell *matCellDef="let element"> {{element.profitAmount}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element "> {{element.date | date:'yyyy-MM-dd'}}</td>
        </ng-container>

        <ng-container matColumnDef="calculated">
          <th mat-header-cell *matHeaderCellDef> Calculated </th>
          <td mat-cell *matCellDef="let element"> {{element.calculated}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element" class="update-icon">
            <button class="btn hover-edit " (click)="editData(element)"><mat-icon>edit</mat-icon></button>

            <button class="btn hover-delete" (click)="deleteProfit(element)"><mat-icon>delete</mat-icon></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
    <div class=" bg-gray   col-xl-4 col-lg-4 col-md-12 col-sm-12  ">
      <div class="pt-3 ps-1 mb-5">
        <h3 class="panel-title float-start">
          {{ addProfitsForm.controls["id"].value ? "Update" : "Add" }}
          Profits
        </h3>
        <mat-icon class="add-icon me-4 float-end" (click)="restartForm(); isButtonVisible = true"
          [hidden]="isButtonVisible">add</mat-icon>
      </div>
      <!-- ========================================FORM ====================================== -->
      <div>

        <form [formGroup]="addProfitsForm" class="">
          <fieldset>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>bookNo</mat-label>
              <input formControlName="bookNo" type="text" matInput placeholder="Enter Customer Name" />
              <mat-error>

              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>profitAmount</mat-label>
              <input formControlName="profitAmount" type="number" matInput />
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>date</mat-label>
              <input formControlName="date" type="date" matInput />
            </mat-form-field>

          </fieldset>
          <mat-checkbox formControlName="calculated"> calculated</mat-checkbox>

        </form>

        <!-- ==============================action Form ==================== -->
        <mat-dialog-actions align="end">
          <div class="actions pb-3">
            <button class="btn btn-success me-3" (click)="onSubmit()" [disabled]="submit">
              {{ addProfitsForm.controls["id"].value ? "Update" : "Add" }}
            </button>
            <button class="btn btn-warning" mat-button (click)="resetForm()">
              {{ addProfitsForm.controls["id"].value ? "Reset" : "Clear" }}
            </button>
          </div>
        </mat-dialog-actions>
      </div>
    </div>
  </div>
</main>
