
.bg-gray
{
background-color: #f8f9fa;
}
.content-table {
  height: 400px;
}


.hover-edit:hover{
background-color:#0d6efd;
}

.hover-delete:hover{
  background-color: #dc3545;
}

th{
  
  font-size: larger;
  font-weight: bold;
  color: black;
}
