<div class="mx-auto content-size text-center my-5">
  <h3 class="panel-title fw-bold text-center">Our Investors</h3>
  <div class="row shadow-lg">
    <div class="col-8 overflow-scroll">
      <table class="w-100 text-start" mat-table [dataSource]="allInvestors">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6">No.</th>
          <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
        </ng-container>
        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6">Name</th>
          <td mat-cell *matCellDef="let investor">{{ investor.fullName }}</td>
        </ng-container>
        <ng-container matColumnDef="nickName" class="nickName">
          <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6">
            nickName
          </th>
          <td mat-cell *matCellDef="let investor">{{ investor.nickName }}</td>
        </ng-container>

        <ng-container matColumnDef="nationalId" class="nationalId">
          <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6">
            nationalId
          </th>
          <td mat-cell *matCellDef="let investor">{{ investor.nationalId }}</td>
        </ng-container>

        <ng-container matColumnDef="primaryPhoneNo" class="primaryPhoneNo">
          <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6">
            primaryPhoneNo
          </th>
          <td mat-cell *matCellDef="let investor">
            {{ investor.primaryPhoneNo }}
          </td>
        </ng-container>
        <ng-container matColumnDef="secondaryPhoneNo" class="secondaryPhoneNo">
          <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6">
            secondaryPhoneNo
          </th>
          <td mat-cell *matCellDef="let investor">
            {{ investor.secondaryPhoneNo }}
          </td>
        </ng-container>
        <ng-container matColumnDef="address" class="address">
          <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6">
            address
          </th>
          <td mat-cell *matCellDef="let investor">{{ investor.address }}</td>
        </ng-container>
        <ng-container matColumnDef="investorType" class="investorType">
          <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6">
            investorType
          </th>
          <td mat-cell *matCellDef="let investor">
            {{ investor.investorType }}
          </td>
        </ng-container>
        <ng-container matColumnDef="balance" class="balance">
          <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6">
            balance
          </th>
          <td mat-cell *matCellDef="let investor">{{ investor.balance }}</td>
        </ng-container>
        <ng-container matColumnDef="startDate" class="startDate">
          <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6">
            startDate
          </th>
          <td mat-cell *matCellDef="let investor">{{ investor.startDate }}</td>
        </ng-container>
        <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element" class="update-icon">
            <mat-icon (click)="fetchData(element)">edit</mat-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell class="delete-icon" *matCellDef="let element">
            <mat-icon (click)="openConfirmationDialog(element)"
              >delete</mat-icon
            >
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <div class="col-4 bg-light">
      <div class="">
        <h3 class="panel-title float-start mt-3 ms-1">
          {{ investorForm.controls["id"].value ? "Update" : "Add" }} Investor
        </h3>
        <mat-icon
          class="add-icon me-4 pt-4 float-end"
          (click)="restartForm()"
          [hidden]="!investorForm.controls['id'].value"
        >
          add</mat-icon
        >
      </div>
      <div class="clearfix"></div>
      <form [formGroup]="investorForm">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Full Name</mat-label>

          <input
            class="m-0 p-0"
            formControlName="fullName"
            type="text"
            matInput
            placeholder="Enter your FullName"
          />
          <mat-error
            *ngIf="
              investorForm.controls['fullName'].hasError('fullName') &&
              !investorForm.controls['fullName'].hasError('required')
            "
          >
            Please Enter Investor FullName
          </mat-error>
          <mat-error
            *ngIf="investorForm.controls['fullName'].hasError('required')"
          >
            Investor FullName is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>NickName</mat-label>
          <input
            formControlName="nickName"
            [ngClass]="{
              'is-invalid': submit && investorForm.controls['nickName'].errors
            }"
            type="text"
            matInput
            placeholder="Enter your NickName"
          />
          <mat-error
            *ngIf="
              investorForm.controls['nickName'].hasError('nickName') &&
              !investorForm.controls['nickName'].hasError('required')
            "
          >
            Please enter Investor NickName
          </mat-error>
          <mat-error
            *ngIf="investorForm.controls['nickName'].hasError('required')"
          >
            Investor NickName is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label> NationalId</mat-label>
          <input
            formControlName="nationalId"
            [ngClass]="{
              'is-invalid': submit && investorForm.controls['nationalId'].errors
            }"
            matInput
            placeholder="Enter NationalId"
            title="Pls Enter Valid NationalId"
            pattern="^[0-9]*$"
            maxlength="14"
            minlength="14"
            required
          />

          <mat-error
            *ngIf="investorForm.controls['nationalId'].hasError('required')"
          >
            Please enter Investor NationalId contains <strong>14 Number</strong>
          </mat-error>
          <mat-error
            *ngIf="investorForm.controls['nationalId'].hasError('minlength')"
          >
            NationalId must has
            <strong>14 Number </strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label> Address</mat-label>
          <input
            formControlName="address"
            [ngClass]="{
              'is-invalid': submit && investorForm.controls['address'].errors
            }"
            type="text"
            matInput
            placeholder="Enter Address"
          />
          <mat-error
            *ngIf="
              investorForm.controls['address'].hasError('address') &&
              !investorForm.controls['address'].hasError('required')
            "
          >
            Please enter Investor Address
          </mat-error>
          <mat-error
            *ngIf="investorForm.controls['address'].hasError('required')"
          >
            Investor Address is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label> Investor Type</mat-label>

          <mat-select
            placeholder="Investor Type"
            formControlName="investorType"
            [ngClass]="{
              'is-invalid':
                submit && investorForm.controls['investorType'].errors
            }"
          >
            <mat-option [value]="investorsTypes.CONTRIBUTOR"
              >CONTRIBUTOR</mat-option
            >
            <mat-option [value]="investorsTypes.MANAGER">MANAGER</mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              investorForm.controls['investorType'].hasError('investorType') &&
              !investorForm.controls['investorType'].hasError('required')
            "
          >
            Please enter Investor investorType
          </mat-error>
          <mat-error
            *ngIf="investorForm.controls['investorType'].hasError('required')"
          >
            investorType is Enter Required<strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label> Balance</mat-label>
          <input
            formControlName="balance"
            [ngClass]="{
              'is-invalid': submit && investorForm.controls['balance'].errors
            }"
            type="number"
            matInput
            placeholder="Enter Balance"
          />
          <mat-error
            *ngIf="
              investorForm.controls['balance'].hasError('balance') &&
              !investorForm.controls['balance'].hasError('required')
            "
          >
            Please enter Investor balance
          </mat-error>
          <mat-error
            *ngIf="investorForm.controls['balance'].hasError('required')"
          >
            Investor Balance is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label> StartDate</mat-label>
          <input
            formControlName="startDate"
            [ngClass]="{
              'is-invalid': submit && investorForm.controls['startDate'].errors
            }"
            type="date"
            matInput
            placeholder="Enter startDate"
          />
          <mat-error
            *ngIf="
              investorForm.controls['startDate'].hasError('startDate') &&
              !investorForm.controls['startDate'].hasError('required')
            "
          >
            Please enter Investor StartDate
          </mat-error>
          <mat-error
            *ngIf="investorForm.controls['startDate'].hasError('required')"
          >
            Investor StartDate is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-49 mb-1 me-2">
          <mat-label> Primary Phone Number</mat-label>
          <input
            formControlName="primaryPhoneNo"
            [ngClass]="{
              'is-invalid':
                submit && investorForm.controls['primaryPhoneNo'].errors
            }"
            matInput
            pattern="^01[0-2,5]{1}[0-9]{8}$"
            placeholder="Primary Phone Number"
            maxlength="11"
            minlength="11"
            required
          />
          <mat-error
            *ngIf="investorForm.controls['primaryPhoneNo'].hasError('required')"
          >
            Please enter Investor Primary Phone Number Start with
            <strong>0 11 /12 /15</strong>
          </mat-error>
          <mat-error
            *ngIf="investorForm.controls['primaryPhoneNo'].hasError('pattern')"
          >
            Phone Number must start with
            <strong>010, 011, 012, 015 and Enter 14 Numbers</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-49 mb-1 me-2">
          <mat-label> Secondary Phone Number</mat-label>
          <input
            formControlName="secondaryPhoneNo"
            [ngClass]="{
              'is-invalid':
                submit && investorForm.controls['secondaryPhoneNo'].errors
            }"
            matInput
            pattern="^01[0-2,5]{1}[0-9]{8}$"
            placeholder="Enter Secondary Phone Number"
            maxlength="11"
            minlength="11"
          />

          <mat-error
            *ngIf="
              investorForm.controls['secondaryPhoneNo'].hasError('pattern')
            "
          >
            Phone Number must start with
            <strong>010, 011, 012, 015 and Enter 14 Numbers</strong>
          </mat-error>
        </mat-form-field>
      </form>
      <mat-dialog-actions align="end">
        <div class="row">
          <div class="col-12">
            <div class="page-footer-box">
              <button class="btn me-3" (click)="onSubmit()" [disabled]="click">
                {{ investorForm.controls["id"].value ? "Update" : "Add" }}
              </button>
              <button class="btn me-3 mb-3" mat-button (click)="resetForm()">
                {{ investorForm.controls["id"].value ? "Reset" : "Clear" }}
              </button>
            </div>
          </div>
        </div>
      </mat-dialog-actions>
    </div>
  </div>
</div>
