<div class="container-fluid">
  <br /><br />
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="page-title-box">
              <h3 class="panel-title fw-bold text-center">Our Investors</h3>
            </div>
          </div>
        </div>
        <!-- Header Start -->
        <div class="row text-center">
          <div class="col-12">
            <div class="page-footer-box">
              <!-- (click)="openDialog(null)" -->
              <button class="btn btn-success w-50">Add Investor</button>
            </div>
          </div>
        </div>
        <!-- Header End -->
        <br />
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <table class="table table-centered mb-0">
                    <thead>
                      <tr>
                        <th>NO.</th>
                        <th>ID</th>
                        <th>Full Name</th>
                        <th>Nick Name</th>
                        <th>NationalId</th>
                        <th>PrimaryPhoneNo</th>
                        <th>SecondaryPhoneNo</th>
                        <th>Address</th>
                        <th>InvestorType</th>
                        <th>balance</th>
                        <th>startDate</th>

                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let investor of Investors; index as i">
                        <td>{{ i + 1 }}</td>
                        <td>{{ investor.id }}</td>
                        <td>{{ investor.name }}</td>
                        <td>{{ investor.version }}</td>
                        <td>{{ investor.fullName }}</td>
                        <td>{{ investor.nickName }}</td>
                        <td>{{ investor.nationalId }}</td>
                        <td>{{ investor.primaryPhoneNo }}</td>
                        <td>{{ investor.secondaryPhoneNo }}</td>
                        <td>{{ investor.address }}</td>
                        <td>{{ investor.investorType }}</td>
                        <td>{{ investor.balance }}</td>
                        <td>{{ investor.startDate }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
      </div>
    </div>
  </div>
</div>
