.logo{
height: 50px;
}
.nav-link
{
  border-left: 1px solid rgba(249, 245, 245, 0.5) ;
  font-size: 15px;
  color: white;
}
.side-nav-button{
  width: 50px;
}
.menu-icon{
  font-size: 50px;
  width: 40px;
  color: white;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover{
  color:rgb(243, 76, 76);
}
.navbar .search{
  border-left: 1px solid rgba(255, 255,255,0.5) ;
  font-size: 45px;
}
.navbar .search  mat-icon{
  font-size: 30px;
}

.navbar .btn {
  background-color: rgb(243, 76, 76);
  color: white;
  text-transform: uppercase;
}