.table-height{
    height: 500px;
}
section{
    background-color: rgba(0,0,0,.04);
}
h2{
    padding-top: 20px;
}
.mat-blue
{
    background-color:#002d40;
    color: white;
}
.mat-blueicon{
    color: #002d40;
}
.row-font{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: rgba(0,0,0,0.54);
}
.icon-add{
    margin-bottom: 16px;
    padding-top: 20px;
}
.icon-add:hover{
    cursor: pointer;
}