table {
    width: 100%;
  }
form{
    background-color: rgba(0,0,0,.04);
}
h2{
    padding-top: 20px;
}
mat-form-field{
    width: 100%;
}
.mat-blue
{
    background-color:#002d40;
    color: white;
}
.mat-blueicon{
    color: #002d40;
}
.row-font{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: rgba(0,0,0,0.54);
}
td,
th.mat-header-cell{
    text-align: center;
}