<div class="container">
  <div class=" text-center mat-typography mt-4">
    <div>
      <h3 class="pt-3 mat-headline panel-title fw-bold">
        {{ "product.our-products" | translate }}
      </h3>
    </div>
  </div>
  <div class="container-fluid col-sm-4 col-md-4 column d-flex w-30 mx-5">
    <mat-form-field appearance="outline" color="primary">
        <mat-select panelClass="mt-5" placeholder="{{'product.choose-category' | translate}}">
          <mat-option (click)="getAllProducts()">{{"all" | translate}}</mat-option>
          <mat-option *ngFor="let type of categories" [value]="type" (click)="productFilter(type.id)">
            {{type.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>

  <div class="d-flex flex-lg-row flex-column my-4  shadow-lg fixed-height">
      <div
        class="child-height w-100 overflow-scroll data-table bg-white"
      >
          <table
          class="col w-100 h-75"
          mat-table
          [dataSource]="allProducts"
        >
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6">
              {{ "no" | translate }}.
            </th>
            <td mat-cell *matCellDef="let i = index" class="pt-2">
              {{ i + 1 }}
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6">
              {{ "name" | translate }}
            </th>
            <td mat-cell *matCellDef="let element" class="pt-2">
              {{ element.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6">
              {{ "product.category" | translate }}
            </th>
            <td mat-cell *matCellDef="let element" class="pt-2">
              {{ element.productCategoryDto.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="brand">
            <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6">
              {{ "product.brand" | translate }}
            </th>
            <td mat-cell *matCellDef="let element" class="pt-2">
              {{ element.brand }}
            </td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6">
              {{ "product.Price" | translate }}
            </th>
            <td mat-cell *matCellDef="let element" class="pt-2">
              {{ element.cashPrice }}
            </td>
          </ng-container>

          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6">
              {{ "product.quantity" | translate }}
            </th>
            <td mat-cell *matCellDef="let element" class="pt-2">
              {{ element.quantity }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" class="update-icon pt-2">
              <button class="btn table-button" (click)="fetchData(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button
                class="btn table-button"
                (click)="openConfirmationDialog(element)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <tr class="mat-row spinner-row" *matNoDataRow>
            <td>
              <app-loading-spinner></app-loading-spinner>
            </td>
          </tr>
        </table>          
          <mat-paginator [length]="totaItem"
            [pageSizeOptions]="[10,5,25,100]"
            (page)="$event;onPaginationChange($event)"
            showFirstLastButtons
            aria-label="Select page"
            class="fw-bold fs-6 d-flex justify-content-center pe-4 me-2 py-3 ">
          </mat-paginator>
      </div>

      <div class="col-lg-4 p-3 bg-light">
        <section>
          <div>
            <div class="panel-heading pt-3 ps-1 mb-5">
              <h3 class="panel-title float-start">
                {{
                  productForm.controls["id"].value
                    ? ("update" | translate)
                    : ("add" | translate)
                }}
  
                {{ "product.product" | translate }}
              </h3>
  
              <mat-icon
                class="add-icon me-4 float-end"
                (click)="restartForm(); isButtonVisible = true"
                [hidden]="isButtonVisible"
                >add</mat-icon
              >
            </div>
          </div>
          <div class="panel-body ">
            <form [formGroup]="productForm">
              <fieldset class="row justify-content-center">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{
                    "product.product-name" | translate
                  }}</mat-label>
                  <input
                    formControlName="name"
                    type="text"
                    matInput
                    placeholder="{{ 'enter-your-name' | translate }}"
                  />
                  <mat-error
                    *ngIf="productForm.controls['name'].hasError('required')"
                  >
                    {{ "product.name-field" | translate }}

                    <strong> {{ "product.required" | translate }}</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                  <mat-label> {{ "product.brand" | translate }}</mat-label>
                  <input
                    formControlName="brand"
                    type="text"
                    matInput
                    placeholder="{{ 'product.brand' | translate }}"
                  />
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-50">
                  <mat-label> {{ "product.Price" | translate }}</mat-label>
                  <input
                    formControlName="cashPrice"
                    type="number"
                    matInput
                    placeholder="{{ 'product.Price' | translate }}"
                  />
                  <mat-error
                    *ngIf="
                      productForm.controls['cashPrice'].hasError('required')
                    "
                  >
                    {{ "product.price-field" | translate }}
                    <strong> {{ "product.required" | translate }}</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-50">
                  <mat-label>{{ "product.quantity" | translate }}</mat-label>
                  <input
                    formControlName="quantity"
                    type="number"
                    matInput
                    placeholder="{{ 'product.quantity' | translate }}"
                  />
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ "product.category" | translate }}</mat-label>
                  <mat-select
                    formControlName="productCategoryDto"
                    type="text"
                    matInput
                    placeholder="{{ 'product.category-field' | translate }}"
                    [compareWith]="compareFn"
                  >
                    <mat-option *ngFor="let cat of categories" [value]="cat">
                      {{ cat.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="
                      productForm.controls['productCategoryDto'].hasError(
                        'required'
                      )
                    "
                  >
                    {{ "product.category-field" | translate
                    }}<strong> {{ "product.required" | translate }}</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100 mb-4">
                  <mat-label>{{ "product.model-no" | translate }}</mat-label>
                  <input
                    formControlName="modelNo"
                    type="text"
                    matInput
                    placeholder="{{ 'product.model-no' | translate }}"
                  />
                </mat-form-field>
              </fieldset>
            </form>
          </div>

          <div class="actions pb-5 float-end">
            <button class="btn me-3" (click)="onSubmit()" [disabled]="submit">
              {{
                productForm.controls["id"].value
                  ? ("update" | translate)
                  : ("add" | translate)
              }}
            </button>
            <button class="btn me-3" mat-button (click)="resetForm()">
              {{
                productForm.controls["id"].value
                  ? ("reset" | translate)
                  : ("clear" | translate)
              }}
            </button>
          </div>
        </section>
      </div>
  </div>
</div>
