.btn {
  background-color: #002d40;
  color: white;
  width: 80px;
  height: 40px;
}
.table-button {
  background-color: transparent;
  color: #002d40;
  width: 50px;
  height: 40px;
}
.table-button:hover,
.add-icon:hover {
  color: red;
}
mat-icon {
  font-size: 30px;
}
.add-icon {
  cursor: pointer;
}
th,
td {
  line-height: 2;
}
#custom-filter .mat-form-field-wrapper{
  padding-bottom: 0;
}
#custom-filter .mat-form-field-appearance-outline .mat-form-field-wrapper{
  margin: 0;
}
#custom-filter .mat-form-field-appearance-outline .mat-form-field-outline{
  color:transparent;
}