.form-group {
    display: flex;
    flex-direction: column;
  }


  ::ng-deep .mdc-notched-outline__leading {
    border: 1px solid rgba(122, 73, 13, 0.541) !important;
    border-left: none !important;
    border-width: 3px !important;
    border-radius: 0px 15px 15px 0px !important;
    color: rgba(122, 73, 13, 0.541) !important;
  
  }
  
  ::ng-deep .mdc-notched-outline__notch {
    border: 1px solid rgba(122, 73, 13, 0.541) !important;
    border-width: 3px !important;
    color: rgba(122, 73, 13, 0.541) !important;
   
  
  }
  
  ::ng-deep .mdc-notched-outline__trailing {
    border: 1px solid rgba(122, 73, 13, 0.541) !important;
    border-right: none !important;
    border-width: 3px !important;
    border-radius: 15px 0 0 15px !important;
    color: rgba(122, 73, 13, 0.541) !important;
  
  }
  
  mat-label {
    font-weight: bold;
    color: #8b4513;
  }

  :host ::ng-deep .mat-select-arrow {
    color: #8b4513 !important;
  }

  ::ng-deep .my-select .mat-select-arrow {
    color: #8b4513 !important;
  }

  ::ng-deep .mat-mdc-select-arrow{
  color: #8b4513 !important;
  font-weight: bold;
 }

 ::ng-deep .mat-mdc-select-value{
  font-weight: bold !important;
 }

 

