<div class="main">
  <div class="container text-center mt-4">
    <div>
      <h3 class="panel-title fw-bold">
        {{ "customrs.our-curtomrs" | translate }}
      </h3>
    </div>
  </div>

  <div class="container-fluid col-11 mt-4 mb-5 shadow-lg">
    <div class="row justify-content-center">
      <div
        class="content col-lg-8 col-md-8 col-sm-8 overflow-scroll data-table bg-white"
      >
        <table
          class="table table-responsive"
          mat-table
          [dataSource]="allCustomers"
        >
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6">
              {{ "no" | translate }}.
            </th>
            <td mat-cell *matCellDef="let i = index" class="pt-2">
              {{ i + 1 }}
            </td>
          </ng-container>

          <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6">
              {{ "customrs.full-name" | translate }}
            </th>
            <td mat-cell *matCellDef="let element" class="pt-2">
              {{ element.fullName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="nickName">
            <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6">
              {{ "customrs.nick-name" | translate }}
            </th>
            <td mat-cell *matCellDef="let element" class="pt-2">
              {{ element.nickName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="customerCode">
            <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6">
              {{ "customrs.code" | translate }}
            </th>
            <td mat-cell *matCellDef="let element" class="pt-2">
              {{ element.customerCode }}
            </td>
          </ng-container>

          <ng-container matColumnDef="nationalId">
            <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6">
              {{ "customrs.national-id" | translate }}
            </th>
            <td mat-cell *matCellDef="let element" class="pt-2">
              {{ element.nationalId }}
            </td>
          </ng-container>

          <ng-container matColumnDef="primaryPhoneNo">
            <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6">
              {{ "customrs.primrary-phone" | translate }}
            </th>
            <td mat-cell *matCellDef="let element" class="pt-2">
              {{ element.primaryPhoneNo }}
            </td>
          </ng-container>

          <ng-container matColumnDef="secondaryPhoneNo">
            <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6">
              {{ "customrs.secondary-phone" | translate }}
            </th>
            <td mat-cell *matCellDef="let element" class="pt-2">
              {{ element.secondaryPhoneNo }}
            </td>
          </ng-container>

          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6">
              {{ "customrs.address" | translate }}
            </th>
            <td mat-cell *matCellDef="let element" class="pt-2">
              {{ element.address }}
            </td>
          </ng-container>

          <ng-container matColumnDef="trustReceiptNo">
            <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6">
              {{ "customrs.address" | translate }}
            </th>
            <td mat-cell *matCellDef="let element" class="pt-2">
              {{ element.trustReceiptNo }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" class="update-icon pt-2">
              <button class="btn table-button" (click)="fetchData(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button
                class="btn table-button"
                (click)="openConfirmationDialog(element)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>

      <div class="content col-lg-4 col-md-4 col-sm-6 bg-light">
        <section>
          <div class="panel-heading pt-3 ps-1">
            <h3 class="panel-title ms-1">
              {{
                customersForm.controls["id"].value
                  ? ("update" | translate)
                  : ("add" | translate)
              }}
              {{ "customrs.customer" | translate }}
            </h3>
            <mat-icon
              class="add-icon me-4 float-end"
              (click)="restartForm(); isButtonVisible = true"
              [hidden]="isButtonVisible"
              >add</mat-icon
            >
          </div>
          <div class="panel-body">
            <form [formGroup]="customersForm">
              <fieldset class="row justify-content-center">
                <mat-form-field appearance="outline" class="w-50">
                  <mat-label> {{ "customrs.full-name" | translate }}</mat-label>
                  <input
                    formControlName="fullName"
                    type="text"
                    matInput
                    placeholder="{{
                      'customrs.enter-customer-fname' | translate
                    }}"
                  />
                  <mat-error
                    *ngIf="
                      customersForm.controls['fullName'].hasError('required')
                    "
                  >
                    {{ "customrs.full-name" | translate }}
                    <strong> {{ "product.required" | translate }}</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-50">
                  <mat-label> {{ "customrs.nick-name" | translate }}</mat-label>
                  <input
                    formControlName="nickName"
                    type="text"
                    matInput
                    placeholder="{{
                      'customrs.enter-customer-nname' | translate
                    }}"
                  />
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ "customrs.code" | translate }}</mat-label>
                  <input
                    formControlName="customerCode"
                    type="number"
                    matInput
                    placeholder="{{ 'customrs.customer-code' | translate }}"
                  />
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100 pb-2">
                  <mat-label>{{
                    "customrs.national-id" | translate
                  }}</mat-label>
                  <input
                    formControlName="nationalId"
                    matInput
                    placeholder="{{ 'customrs.nationalId' | translate }}"
                    minlength="14"
                    maxlength="14"
                    NumbersOnly
                  />
                  <mat-error
                    *ngIf="
                      customersForm.controls['nationalId'].hasError('required')
                    "
                  >
                    {{ "customrs.national-id" | translate }}
                    <strong>{{ "product.required" | translate }}</strong>
                  </mat-error>
                  <mat-error
                    *ngIf="
                      customersForm.controls['nationalId'].hasError('minlength')
                    "
                  >
                    {{ "customrs.id-validation" | translate }}
                    <strong> {{ "customrs.id-number" | translate }}</strong>
                  </mat-error>
                  <mat-error
                    *ngIf="
                      customersForm.controls['nationalId'].hasError('pattern')
                    "
                  >
                    {{ "customrs.id-validation" | translate }}
                    <strong>
                      {{ "customrs.id-validation2" | translate }}</strong
                    >
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-50">
                  <mat-label>{{ "customrs.address" | translate }}</mat-label>
                  <input
                    formControlName="address"
                    type="text"
                    matInput
                    placeholder="{{ 'customrs.address' | translate }}"
                  />
                  <mat-error
                    *ngIf="
                      customersForm.controls['address'].hasError('required')
                    "
                  >
                    {{ "customrs.address" | translate }}
                    <strong>{{ "product.required" | translate }}</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-50">
                  <mat-label>{{ "customrs.receipt-no" | translate }}</mat-label>
                  <input
                    formControlName="trustReceiptNo"
                    type="text"
                    matInput
                    placeholder="{{ 'customrs.receipt-no' | translate }}"
                    NumbersOnly
                  />
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-50 mb-4">
                  <mat-label>{{
                    "customrs.primrary-phone" | translate
                  }}</mat-label>
                  <input
                    formControlName="primaryPhoneNo"
                    type="tel"
                    matInput
                    placeholder="{{ 'customrs.primrary-phone' | translate }}"
                    minlength="11"
                    maxlength="11"
                    NumbersOnly
                  />
                  <mat-error
                    *ngIf="
                      customersForm.controls['primaryPhoneNo'].hasError(
                        'required'
                      )
                    "
                  >
                    {{ "customrs.primrary-phone" | translate }}
                    <strong>{{ "product.required" | translate }}</strong>
                  </mat-error>
                  <mat-error
                    *ngIf="
                      customersForm.controls['primaryPhoneNo'].hasError(
                        'minlength'
                      )
                    "
                  >
                    {{ "customrs.phone-validation" | translate
                    }}<strong>
                      {{ "customrs.phone-number" | translate }}</strong
                    >
                  </mat-error>
                  <mat-error
                    class="mt-2"
                    *ngIf="
                      customersForm.controls['primaryPhoneNo'].hasError(
                        'pattern'
                      )
                    "
                  >
                    {{ "customrs.phone-validation" | translate }}
                    <strong> {{ "customrs.phone-numbers" | translate }}</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-50 mb-4">
                  <mat-label>
                    {{ "customrs.secondary-phone" | translate }}</mat-label
                  >
                  <input
                    formControlName="secondaryPhoneNo"
                    type="tel"
                    matInput
                    placeholder="{{ 'customrs.secondary-phone' | translate }}"
                    minlength="11"
                    maxlength="11"
                    NumbersOnly
                  />
                  <mat-error
                    *ngIf="
                      customersForm.controls['secondaryPhoneNo'].hasError(
                        'minlength'
                      )
                    "
                  >
                    Please phone Number must be <strong>11 number</strong>
                  </mat-error>
                  <mat-error
                    class="mt-2"
                    *ngIf="
                      customersForm.controls['secondaryPhoneNo'].hasError(
                        'pattern'
                      )
                    "
                  >
                    phone Number must start with
                    <strong>010, 011, 012, 015</strong>
                  </mat-error>
                </mat-form-field>
              </fieldset>
            </form>
          </div>

          <div class="actions pb-3 float-end">
            <button
              class="btn me-3 ms-3"
              (click)="onSubmit()"
              [disabled]="submit"
            >
              {{
                customersForm.controls["id"].value
                  ? ("update" | translate)
                  : ("add" | translate)
              }}
            </button>
            <button class="btn" mat-button (click)="resetForm()">
              {{
                customersForm.controls["id"].value
                  ? ("reset" | translate)
                  : ("clear" | translate)
              }}
            </button>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
