<div class="main">
  <div class="container text-center mt-4">
    <div>
      <h3 class="panel-title fw-bold">Our Customers</h3>
    </div>
  </div>

  <div class="container-fluid col-11 mt-4 mb-5 shadow-lg">
    <div class="row justify-content-center">
      <div
        class="content col-lg-8 col-md-8 col-sm-8 overflow-scroll data-table bg-white"
      >
        <table
          class="table table-responsive"
          mat-table
          [dataSource]="allCustomers"
        >
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6">No.</th>
            <td mat-cell *matCellDef="let i = index" class="pt-2">
              {{ i + 1 }}
            </td>
          </ng-container>

          <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6">
              Fullname
            </th>
            <td mat-cell *matCellDef="let element" class="pt-2">
              {{ element.fullName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="nickName">
            <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6">
              Nickname
            </th>
            <td mat-cell *matCellDef="let element" class="pt-2">
              {{ element.nickName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="customerCode">
            <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6">Code</th>
            <td mat-cell *matCellDef="let element" class="pt-2">
              {{ element.customerCode }}
            </td>
          </ng-container>

          <ng-container matColumnDef="nationalId">
            <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6">
              National Id
            </th>
            <td mat-cell *matCellDef="let element" class="pt-2">
              {{ element.nationalId }}
            </td>
          </ng-container>

          <ng-container matColumnDef="primaryPhoneNo">
            <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6">
              Primary Phone
            </th>
            <td mat-cell *matCellDef="let element" class="pt-2">
              {{ element.primaryPhoneNo }}
            </td>
          </ng-container>

          <ng-container matColumnDef="secondaryPhoneNo">
            <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6">
              Secondary Phone
            </th>
            <td mat-cell *matCellDef="let element" class="pt-2">
              {{ element.secondaryPhoneNo }}
            </td>
          </ng-container>

          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6">
              Address
            </th>
            <td mat-cell *matCellDef="let element" class="pt-2">
              {{ element.address }}
            </td>
          </ng-container>

          <ng-container matColumnDef="trustReceiptNo">
            <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6">
              Trust Receipt No
            </th>
            <td mat-cell *matCellDef="let element" class="pt-2">
              {{ element.trustReceiptNo }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" class="update-icon pt-2">
              <button class="btn table-button" (click)="fetchData(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button
                class="btn table-button"
                (click)="openConfirmationDialog(element)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>

      <div class="content col-lg-4 col-md-4 col-sm-6 bg-light">
        <section>
          <div class="panel-heading pt-3 ps-1 mb-5">
            <h3 class="panel-title float-start">
              {{ customersForm.controls["id"].value ? "Update" : "Add" }}
              Customers
            </h3>
            <mat-icon
              class="add-icon me-4 float-end"
              (click)="restartForm(); isButtonVisible = true"
              [hidden]="isButtonVisible"
              >add</mat-icon
            >
          </div>
          <div class="panel-body">
            <form [formGroup]="customersForm">
              <fieldset class="row justify-content-center">
                <mat-form-field appearance="outline" class="w-50">
                  <mat-label>Customer Name</mat-label>
                  <input
                    formControlName="fullName"
                    type="text"
                    matInput
                    placeholder="Enter Customer Name"
                  />
                  <mat-error
                    *ngIf="
                      customersForm.controls['fullName'].hasError('required')
                    "
                  >
                    Customer Name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-50">
                  <mat-label>Nickname</mat-label>
                  <input
                    formControlName="nickName"
                    type="text"
                    matInput
                    placeholder="Enter Customer Nickname"
                  />
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Customer Code</mat-label>
                  <input
                    formControlName="customerCode"
                    type="number"
                    matInput
                    placeholder="Enter Customer Code"
                  />
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100 pb-2">
                  <mat-label>National Id</mat-label>
                  <input
                    formControlName="nationalId"
                    matInput
                    placeholder="Enter Customer National Id"
                    minlength="14"
                    maxlength="14"
                  />
                  <mat-error
                    *ngIf="
                      customersForm.controls['nationalId'].hasError('required')
                    "
                  >
                    Customer National Id is <strong>required</strong>
                  </mat-error>
                  <mat-error
                    *ngIf="
                      customersForm.controls['nationalId'].hasError('minlength')
                    "
                  >
                    National Id must be <strong>14 number</strong>
                  </mat-error>
                  <mat-error
                    *ngIf="
                      customersForm.controls['nationalId'].hasError('pattern')
                    "
                  >
                    National Id must be <strong>number only</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-50">
                  <mat-label>Address</mat-label>
                  <input
                    formControlName="address"
                    type="text"
                    matInput
                    placeholder="Enter Customer Address"
                  />
                  <mat-error
                    *ngIf="
                      customersForm.controls['address'].hasError('required')
                    "
                  >
                    Customer address is <strong>required</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-50">
                  <mat-label>Trust Receipt No</mat-label>
                  <input
                    formControlName="trustReceiptNo"
                    type="text"
                    matInput
                    placeholder="Enter Customer Trust Receipt No"
                  />
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-50 mb-4">
                  <mat-label>Primary Phone No</mat-label>
                  <input
                    formControlName="primaryPhoneNo"
                    type="tel"
                    matInput
                    placeholder="Enter Customer Primary Phone No"
                    minlength="11"
                    maxlength="11"
                  />
                  <mat-error
                    *ngIf="
                      customersForm.controls['primaryPhoneNo'].hasError(
                        'required'
                      )
                    "
                  >
                    primary Phone Number is <strong>required</strong>
                  </mat-error>
                  <mat-error
                    *ngIf="
                      customersForm.controls['primaryPhoneNo'].hasError(
                        'minlength'
                      )
                    "
                  >
                    Please phone Number must be <strong>11 number</strong>
                  </mat-error>
                  <mat-error
                    class="mt-2"
                    *ngIf="
                      customersForm.controls['primaryPhoneNo'].hasError(
                        'pattern'
                      )
                    "
                  >
                    Phone Number must start with
                    <strong>010, 011, 012, 015</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-50 mb-4">
                  <mat-label>Secondary Phone No</mat-label>
                  <input
                    formControlName="secondaryPhoneNo"
                    type="tel"
                    matInput
                    placeholder="Enter Customer Secondary Phone No"
                    minlength="11"
                    maxlength="11"
                  />
                  <mat-error
                    *ngIf="
                      customersForm.controls['secondaryPhoneNo'].hasError(
                        'minlength'
                      )
                    "
                  >
                    Please phone Number must be <strong>11 number</strong>
                  </mat-error>
                  <mat-error
                    class="mt-2"
                    *ngIf="
                      customersForm.controls['secondaryPhoneNo'].hasError(
                        'pattern'
                      )
                    "
                  >
                    phone Number must start with
                    <strong>010, 011, 012, 015</strong>
                  </mat-error>
                </mat-form-field>
              </fieldset>
            </form>
          </div>

          <div class="actions pb-3 float-end">
            <button class="btn me-3" (click)="onSubmit()" [disabled]="submit">
              {{ customersForm.controls["id"].value ? "Update" : "Add" }}
            </button>
            <button class="btn" mat-button (click)="resetForm()">
              {{ customersForm.controls["id"].value ? "Reset" : "Clear" }}
            </button>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
