<div class="text-center" >
    <p class="fs-3 fw-bold mt-3 title" >Candi-Meter</p>
    <mat-divider class="mb-4"></mat-divider>
    <p>
      <a mat-button routerLink="home" routerLinkActive="active" class="fs-5" color="accent"
        ><mat-icon class="fs-2 me-3 mb-1" color="accent">home</mat-icon>Home</a
      >
    </p>
    <p>
      <a mat-button routerLink=" " routerLinkActive="active" color="accent" class="fs-5 mt-1" 
        > <mat-icon class="fs-2 mb-1 me-3" color="accent">person</mat-icon>Employees</a
      >
    </p>
  </div>
   

  
