<div class="text-center">
  <p class="fs-3 fw-bold mt-3">RMS</p>
  <mat-divider class="mb-4"></mat-divider>
  <p>
    <a mat-button routerLink="home" routerLinkActive="active" class="fs-5">{{
      "sidebar.home" | translate
    }}</a>
  </p>
  <p>
    <a mat-button routerLink="order" routerLinkActive="active" class="fs-5">{{
      "sidebar.order" | translate
    }}</a>
  </p>
  <p>
    <a
      mat-button
      routerLink="installments"
      routerLinkActive="active"
      class="fs-5"
      >{{ "sidebar.installment" | translate }}</a
    >
  </p>
  <p>
    <a mat-button routerLink="transactions" routerLinkActive="active" class="fs-5">{{ "sidebar.transactions" | translate }}</a>
  </p>
  <p>
    <a
      mat-button
      routerLink="investors"
      routerLinkActive="active"
      class="fs-5"
      >{{ "sidebar.investors" | translate }}</a
    >
  </p>
  <p>
    <a
      mat-button
      routerLink="customers"
      routerLinkActive="active"
      class="fs-5"
      >{{ "sidebar.customers" | translate }}</a
    >
  </p>
  <p>
    <a
      mat-button
      routerLink="employee"
      routerLinkActive="active"
      class="fs-5"
      >{{ "sidebar.employees" | translate }}</a
    >
  </p>
  <p>
    <a
      mat-button
      routerLink="category"
      routerLinkActive="active"
      class="fs-5"
      >{{ "sidebar.categories" | translate }}</a
    >
  </p>
  <p>
    <a mat-button routerLink="product" routerLinkActive="active" class="fs-5">{{
      "sidebar.products" | translate
    }}</a>
  </p>
  <p>
    <a mat-button routerLink="profits" routerLinkActive="active" class="fs-5">{{
      "sidebar.profits" | translate
    }}</a>
  </p>
</div>
