<div class="text-center">
  <p class="fs-3 fw-bold mt-3">RMS</p>
  <mat-divider class="mb-4"></mat-divider>

  <p>
    <a mat-button routerLink="home" routerLinkActive="active" class="fs-5"
      >Home</a
    >
  </p>
  <p>
    <a mat-button routerLink="product" routerLinkActive="active" class="fs-5"
      >Products</a
    >
  </p>
  <p>
    <a mat-button routerLink="category" routerLinkActive="active" class="fs-5"
      >Category</a
    >
  </p>
  <p>
    <a mat-button routerLink="customers" routerLinkActive="active" class="fs-5"
      >Customers</a
    >
  </p>
  <p>
    <a mat-button routerLink="investors" routerLinkActive="active" class="fs-5"
      >Investors</a
    >
  </p>
  <p>
    <a
      mat-button
      routerLink="installment"
      routerLinkActive="active"
      class="fs-5"
      >Installment</a
    >
  </p>

  <p>
    <a mat-button routerLink="order" routerLinkActive="active" class="fs-5"
      >Order</a
    >
  </p>
</div>
