<div class="main" [dir]="'direction' | translate">
        <div class="mat-typography d-flex justify-content-between">
          <h2 class="mat-headline">{{ "transactions.add-transaction" | translate }}</h2>
          <mat-icon class="close-form fw-bold" (click)="closeDialog()">close</mat-icon>
        </div>
        <form class="" [formGroup]="transactionForm">
          <mat-form-field class="my-0 mx-auto row w-100" appearance="outline">
            <mat-label>{{"transactions.amount"|translate}}</mat-label>
            <input type="number" matInput required formControlName="amount" placeholder="{{'transactions.amount-placeholder' | translate}}">
            <mat-error *ngIf="transactionForm.controls['amount'].hasError('min')">
                {{ "transactions.amount-validation" | translate}}
            </mat-error>
            <mat-error *ngIf="transactionForm.controls['amount'].hasError('required')">
              {{"transactions.amount-required-msg" | translate}}
              <strong> {{ "transactions.required" | translate }}</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="my-0 mx-auto row w-100" appearance="outline">
            <mat-label>{{"transactions.type"|translate}}</mat-label>
            <mat-select required formControlName="transactionType">
              <mat-option [value]="type" *ngFor="let type of transactionTypeEnum">{{type}}</mat-option>
            </mat-select>
            <mat-error *ngIf="transactionForm.controls['transactionType'].hasError('required')">
              {{"transactions.type-required-msg" | translate}}
              <strong> {{ "transactions.required" | translate }}</strong>
            </mat-error>
          </mat-form-field>
        </form>
        <div class="w-100 px-2 d-flex justify-content-end"  [dir]="'reverse-direction' | translate">
          <button class=" btn mx-1" color="blue" mat-raised-button (click)="onSubmit()" [disabled]="submit">{{transactionForm.controls["id"].value
                  ? ("update" | translate)
                  : ("add" | translate)}}</button>
          <button class=" btn mx-1" mat-raised-button color="blue" (click)="resetForm()" >
                  {{"clear" | translate}}</button>
        </div>
    </div>
    