.main{
    width: 400px;
}

.btn {
    background-color: #002d40;
    color: white;
    width: 80px;
    height: 40px;
  }

  .close-form{
    color: #002d40;
  }

  .close-form:hover{
    color: red;
  }