<br><br>

<div class="container">
  <h1>تأكيد</h1>
<div class="row w-100">
  <div class="col-md-6 col-sm-12 col-12 " >
    <br><br>
    <p>
    سيتم التعامل مع هذه المعلومات بسرية تامة, يقتصر الوصول إليها الأشخاص المعنيين.
    </p>
    <br>
    <p>
     نرجو التأكد من سلامة وصحة البيانات تقع علي مسؤلياتك الشخصية ولن يقبل اي إجراء أي تعديلات عليها.
    </p>
    <br>
    <p>
        شكرا لكم لاستكمالكم هذا الطلب واهتمامكم في التقديم واللإنضمام إلينا.
    </p>
    <br><br>
    <button mat-raised-button color="primary" class="btn-save w-100"> إنهاء</button>
    <br><br>
  </div>
  <div class=" col-md-6 col-sm-12 col-12 ">
    <img src="assets/Parliament-Egypt-Img.png" alt="">
  </div>
  
</div>
</div>
<br>




