<div class="update-product">
  <div class="container shadow-lg">
    <section class="panel panel-default">
      <div class="panel-heading pt-5">
        <h3 class="panel-title">Manage Product</h3>
      </div>
      <div class="panel-body">
        <form [formGroup]="productForm">
          <fieldset class="row justify-content-center">
            <mat-form-field appearance="outline" class="col-6">
              <mat-label>Product Name</mat-label>
              <input
                formControlName="name"
                type="text"
                matInput
                placeholder="Enter Product Name"
              />
              <mat-error
                *ngIf="productForm.controls['name'].hasError('required')"
              >
                product name is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-6">
              <mat-label>Brand</mat-label>
              <input
                formControlName="brand"
                type="text"
                matInput
                placeholder="Enter Brand Name"
              />
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-6">
              <mat-label>Price</mat-label>
              <input
                formControlName="cashPrice"
                type="number"
                matInput
                placeholder="Enter Product Price"
              />
              <mat-error
                *ngIf="productForm.controls['cashPrice'].hasError('required')"
              >
                product Price is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-6">
              <mat-label>Quantity</mat-label>
              <input
                formControlName="quantity"
                type="number"
                matInput
                placeholder="Enter Product Quantity"
              />
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-6">
              <mat-label>Category</mat-label>
              <mat-select
                formControlName="productCategoryDto"
                type="text"
                matInput
                placeholder="Enter Product Category"
                [compareWith]="compareFn"
              >
                <mat-option *ngFor="let cat of allCats" [value]="cat">
                  {{ cat.name }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="
                  productForm.controls['productCategoryDto'].hasError(
                    'required'
                  )
                "
              >
                product Category is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-6">
              <mat-label>ModelNo</mat-label>
              <input
                formControlName="modelNo"
                type="text"
                matInput
                placeholder="Enter Product ModelNo"
              />
            </mat-form-field>
          </fieldset>
        </form>
      </div>

      <mat-dialog-actions align="end">
        <div>
          <button
            class="btn me-3 mb-3"
            (click)="onSubmit()"
            [disabled]="submit"
          >
            {{ productForm.controls["id"].value ? "Update" : "Add" }}
          </button>
        </div>
        <button class="btn me-3 mb-3" mat-button (click)="resetForm()">
          Reset
        </button>

        <button class="btn me-3 mb-3" mat-button mat-dialog-close>
          Cancel
        </button>
      </mat-dialog-actions>
    </section>
  </div>
</div>
