
    .print-btn {
     background-color: #002d40;
     width: 90px;
     height: 50px;
    
   }
   .print-icon{
     bottom: 5px;
     right: 5px;
   }

   .barcode-img{
    height: 200px;
   }

   th,td {
    line-height: 5;
    width: 100px;
    color: rgb(9, 8, 8);
  }

  td{
    text-align:center
    }

   @media print {
    .main{
  
      background-color: aqua;
    }
     table{
     margin-top: 20px;  
     width: 300px;
     }
     th,td {
      line-height: 5;
      min-width: 200px;
      color: rgb(9, 8, 8);
    }
      
  .barcode-img{
       margin-top: 70px;
     
    }

  .panel-footer{
     margin-top: 0px;
   }

    }