<div class="about">
  <div class="container">
    <div
      class="row position-absolute top-50 start-50 translate-middle fw-bold text-center text-uppercase"
    >
      <p>
        Welcome to <br />
        <span>RMS</span>
      </p>
    </div>
  </div>
</div>

<section class="products main-section container py-md-5 py-4">
  <div class="container pb-2">
    <div class="row align-items-center">
      <div class="col-lg-6 pr-lg-4">
        <img
          src="assets/products.jpg"
          class="img-fluid rounded float-start shadow"
        />
      </div>
      <div class="col-lg-6 align-self mb-lg-0 mb-5 pl-xl-5 ps-5">
        <h6 class="fw-bold mt-3">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, nihil!
        </h6>
        <h3 class="mt-2 fw-bold display-6 text-uppercase">Products</h3>
        <p class="lead text-secondary fs-6">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae
          suscipit placeat optio itaque, iure, non fugit quisquam expedita
          perspiciatis quo delectus! Tempore voluptatum pariatur laboriosam.
        </p>
        <p class="lead text-secondary fs-6">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
          quibusdam adipisci sunt et officia sequi nam, id minus rerum illum
          numquam, ipsa, voluptate nisi assumenda!
        </p>
        <button class="btn btn-outline-info" (click)="openProducts()">
          Our Products
        </button>
      </div>
    </div>
  </div>
</section>

<section class="category main-section mt-md-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4">
        <h6 class="fw-bold mt-3">Lorem ipsum dolor sit amet.</h6>
        <h3 class="fw-bold display-6 text-uppercase">Category</h3>
        <p class="lead text-secondary">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam fugiat
          facilis praesentium? Iusto rem quibusdam quisquam harum sed ipsam
          quaerat, sapiente, nesciunt tempora asperiores neque facere
          perspiciatis. Ipsum, consequuntur voluptatum.
        </p>
        <p>
          <button class="btn btn-outline-info" routerLink="category">
            Category
          </button>
        </p>
      </div>
      <div class="col-md-8 pt-md-5">
        <div class="row row-cols-1 row-cols-md-2 g-4 text-center">
          <div class="col">
            <div class="card h-100">
              <img src="assets/category-1.png" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Category 1</h5>
                <p class="card-text text-secondary fs-6">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Libero recusandae earum, sint consequatur sequi natus quo iure
                  officia corporis voluptates!
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="assets/category-2.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Category 2</h5>
                <p class="card-text text-secondary fs-6">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Suscipit dolor aspernatur incidunt ad architecto ea iusto
                  facilis quasi cupiditate hic?
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="assets/category-3.png" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Category 3</h5>
                <p class="card-text text-secondary fs-6">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Numquam repellendus voluptates placeat itaque ipsum cupiditate
                  illum ratione molestias repudiandae corrupti!
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="assets/category-4.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Category 4</h5>
                <p class="card-text text-secondary fs-6">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Dolorum cupiditate soluta, nisi asperiores neque sequi
                  laboriosam officia nihil? Repudiandae, sapiente.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="customers main-section container py-md-5 py-4">
  <div class="container pb-2">
    <div class="row align-items-center">
      <div class="col-lg-6 align-self mb-lg-0 mb-5 pl-xl-5 ps-5">
        <h6 class="fw-bold mt-3">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, nihil!
        </h6>
        <h3 class="mt-2 fw-bold display-6 text-uppercase">customers</h3>
        <p class="lead text-secondary fs-6">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae
          suscipit placeat optio itaque, iure, non fugit quisquam expedita
          perspiciatis quo delectus! Tempore voluptatum pariatur laboriosam.
        </p>
        <p class="lead text-secondary fs-6">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
          quibusdam adipisci sunt et officia sequi nam, id minus rerum illum
          numquam, ipsa, voluptate nisi assumenda!
        </p>
        <button class="btn btn-outline-info" type="submit">Customers</button>
      </div>
      <div class="col-lg-6 pr-lg-4">
        <img
          src="assets/customers.jpeg"
          class="img-fluid rounded float-start shadow"
        />
      </div>
    </div>
  </div>
</section>

<section class="investor main-section py-md-5 py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <img
          src="assets/investor.jpg"
          alt=""
          class="img-fluid rounded float-start shadow"
        />
      </div>
      <div class="col-md-6">
        <h6 class="fw-bold mt-3">Lorem, ipsum dolor.</h6>
        <h3 class="fw-bold display-6 text-uppercase">investor</h3>
        <h4 class="fw-bold mt-md-5">Lorem</h4>
        <p class="lead text-secondary">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
          ducimus aspernatur possimus tempore. Aliquid, non.
        </p>
        <p></p>
        <h4 class="fw-bold mt-md-5">Lorem</h4>
        <p class="lead text-secondary">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque odio
          placeat sint mollitia, ipsum pariatur.
        </p>
        <p></p>
        <h4 class="fw-bold mt-md-5">Lorem</h4>
        <p class="lead text-secondary">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci
          dolorum quis, vero id saepe ipsa.
        </p>
        <p></p>
        <h4 class="fw-bold mt-md-5">Lorem</h4>
        <p class="lead text-secondary">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit,
          blanditiis dignissimos labore error accusantium consequuntur?
        </p>
        <button class="btn btn-outline-info" type="submit">Investors</button>
      </div>
    </div>
  </div>
</section>

<section class="installment main-section py-md-5 py-4">
  <div class="container pb-2">
    <div class="row align-items-center">
      <div class="col-lg-6 align-self mb-lg-0 mb-5 pl-xl-5 ps-5">
        <h6 class="fw-bold mt-3">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, nihil!
        </h6>
        <h3 class="mt-2 fw-bold display-6 text-uppercase">installment</h3>
        <p class="lead text-secondary fs-6">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae
          suscipit placeat optio itaque, iure, non fugit quisquam expedita
          perspiciatis quo delectus! Tempore voluptatum pariatur laboriosam.
        </p>
        <p class="lead text-secondary fs-6">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
          quibusdam adipisci sunt et officia sequi nam, id minus rerum illum
          numquam, ipsa, voluptate nisi assumenda!
        </p>
        <button class="btn btn-outline-info" type="submit">Installment</button>
      </div>
      <div class="col-lg-6 pr-lg-4">
        <img
          src="assets/installment.png"
          class="img-fluid rounded float-start shadow"
        />
      </div>
    </div>
  </div>
</section>

<section class="order main-section py-md-5 py-4">
  <div class="container pb-2">
    <div class="row align-items-center">
      <div class="col-lg-6 pr-lg-4">
        <img
          src="assets/order.jpg"
          class="img-fluid rounded float-start shadow"
        />
      </div>
      <div class="col-lg-6 align-self mb-lg-0 mb-5 pl-xl-5 ps-5">
        <h6 class="fw-bold mt-3">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, nihil!
        </h6>
        <h3 class="mt-2 fw-bold display-6 text-uppercase">order</h3>
        <p class="lead text-secondary fs-6">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae
          suscipit placeat optio itaque, iure, non fugit quisquam expedita
          perspiciatis quo delectus! Tempore voluptatum pariatur laboriosam.
        </p>
        <p class="lead text-secondary fs-6">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
          quibusdam adipisci sunt et officia sequi nam, id minus rerum illum
          numquam, ipsa, voluptate nisi assumenda!
        </p>
        <button class="btn btn-outline-info" type="submit">Order</button>
      </div>
    </div>
  </div>
</section>

<footer class="footer position-relative mt-5 pt-5 text-drark">
  <div class="container footer-content">
    <div class="footer-data row pt-5">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <h2 class="fw-bold text-uppercase">rms</h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur
          libero voluptatem rem hic aut facere quaerat ipsam, veritatis alias
          saepe. Atque sit, iure saepe dicta rem repellendus! Fugit, illo et.
        </p>
      </div>
      <div class="columns col-lg-2 col-md-6 col-sm-4 mt-sm-0 mt-5 text-w">
        <h6 class="text-secondary">Make Money with Us</h6>
        <ul class="list-unstyled">
          <li class="pb-md-2">
            <a class="text-decoration-none">Advertise Your Products</a>
          </li>
          <li class="pb-md-2">
            <a class="text-decoration-none">Sell on RMS</a>
          </li>
        </ul>
      </div>
      <div class="columns col-lg-3 col-sm-6 pl-lg-5 mt-lg-0 mt-sm-5 mt-4">
        <h6 class="text-secondary">Get to Know Us</h6>
        <ul class="list-unstyled">
          <li class="pb-md-2">
            <a class="text-decoration-none">About Us</a>
          </li>
          <li class="pb-md-2">
            <a class="text-decoration-none">Services</a>
          </li>
          <li class="pb-md-2">
            <a class="text-decoration-none">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="columns col-lg-3 col-sm-6 mt-lg-0 mt-sm-5 mt-4">
        <h6 class="text-secondary">CONTACT</h6>
        <div class="columns-5">
          <div class="pb-md-2">
            <a
              class="text-decoration-none text-black"
              href="mailto:info@example.com"
              >info@example.com</a
            >
          </div>
          <div class="pb-md-2">
            <a
              class="text-decoration-none text-black"
              href="tel:+44-000-888-999"
              >Call Us +44-000-888-999</a
            >
          </div>
          <div class="pb-md-2">
            <p class="contact-para">
              Cairo, Ismail AlQabany Street -3th Floor, Cairo, Egypt.
            </p>
          </div>
          <div class="pb-md-2">
            <p class="contact-para">Sat To Thu 11 Am To 7 Pm Friday: Closed</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
