$main-color: #002d40;
$secondary-color: #1aa6b7;

.about {
  height: 94vh;
  background: url(../../../assets/home-page.jpg) center/cover;
}
.about p {
  font-size: 120px;
  color: $main-color;
}
@media (max-width: 991px) {
  .about p {
    font-size: 60px;
  }
}
.about span,
.main-section h4,
h6 {
  color: $secondary-color;
}

.main-section h3,
h5,
a,
.cards h4 a {
  color: $main-color;
}

.products {
  min-height: 300px;
}

.category {
  min-height: 500px;
  background: linear-gradient(180deg, #eee 0%, rgba(255, 255, 255, 1) 100%);
}
.investor {
  min-height: 800px;
  background: linear-gradient(180deg, #eee 0%, rgba(255, 255, 255, 1) 100%);
}
.cards {
  min-height: 700px;
  background: linear-gradient(180deg, #eee 0%, rgba(255, 255, 255, 1) 100%);
}
.installment {
  min-height: 300px;
}
.order {
  min-height: 300px;
  background: linear-gradient(180deg, #eee 0%, rgba(255, 255, 255, 1) 100%);
}

.card {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  -webkit-transition: top ease 0.5s;
  -moz-transition: top ease 0.5s;
  -ms-transition: top ease 0.5s;
  -o-transition: top ease 0.5s;
}
.card:hover {
  top: -15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

footer {
  min-height: 400px;
}
.columns ul li a {
  color: $main-color;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  cursor: pointer;
}
.columns ul li a:hover {
  color: $secondary-color;
}
