<div class="container-fluid main">
  <section>
    <div class="container main-cards pt-5 d-flex flex-wrap">
      <div class="row justify-content-between pt-5">
        <div class="card text-center col-md-3 col-sm-10 mt-5">
          <div class="card-header">
            <mat-icon> attach_money</mat-icon>
          </div>
          <div class="card-body">
            <h5 class="card-title">Orders</h5>
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
          </div>
          <div class="card-footer text-danger">no of orders :</div>
        </div>
        <div class="card text-center col-md-3 col-sm-10 mt-5">
          <div class="card-header">
            <mat-icon>compare_arrows</mat-icon>
          </div>
          <div class="card-body">
            <h5 class="card-title">Transactions</h5>
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
          </div>
          <div class="card-footer text-danger">no of transactions :</div>
        </div>
        <div class="card text-center col-md-3 col-sm-10 mt-5">
          <div class="card-header">
            <mat-icon>payment</mat-icon>
          </div>
          <div class="card-body">
            <h5 class="card-title">Installment</h5>
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
          </div>
          <div class="card-footer text-danger">no of Installments :</div>
        </div>
        <div class="card text-center col-md-3 col-sm-10 mt-5">
          <div class="card-header">
            <mat-icon>equalizer</mat-icon>
          </div>
          <div class="card-body">
            <h5 class="card-title">Investors</h5>
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
          </div>
          <div class="card-footer text-danger">no of Investors :</div>
        </div>
        <div
          class="card text-center col-md-3 mt-5 col-sm-10"
          (click)="openCustomers()"
        >
          <div class="card-header">
            <mat-icon>perm_identity</mat-icon>
          </div>
          <div class="card-body">
            <h5 class="card-title">Customers</h5>
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
          </div>
          <div class="card-footer text-danger">
            no of customers : {{ allCustomers.length }}
          </div>
        </div>
        <div
          class="card text-center col-md-3 mt-5 col-sm-10"
          (click)="openCategory()"
        >
          <div class="card-header">
            <mat-icon>view_quilt</mat-icon>
          </div>
          <div class="card-body">
            <h5 class="card-title">Categories</h5>
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
          </div>
          <div class="card-footer text-danger">
            no of categories :{{ allCategory.length }}
          </div>
        </div>
        <div
          class="card text-center col-md-3 mt-5 col-sm-10"
          (click)="openProducts()"
        >
          <div class="card-header">
            <mat-icon>store</mat-icon>
          </div>
          <div class="card-body">
            <h5 class="card-title">Products</h5>
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
          </div>
          <div class="card-footer text-danger">
            no of products : {{ allProducts.length }}
          </div>
        </div>
      </div>
    </div>
  </section>
  </section>

  <footer class="footer position-relative mt-5 pt-5 text-drark">
    <div class="container footer-content">
      <div class="footer-data row pt-5">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <h2 class="fw-bold text-uppercase">rms</h2>
          <p>
            We will always remain the name that has the highest trust from
            customers, and partners of success through our products and services
            for a better society.
          </p>
          <p>
            Out of our pursuit to maintain the trust of clients and partners of
            success.
          </p>
        </div>
        <div class="columns col-lg-3 col-sm-6 pl-lg-5 mt-lg-0 mt-sm-5 mt-4">
          <h6 class="text-secondary fw-bold mt-3">Financial transactions</h6>
          <ul class="list-unstyled">
            <li class="pb-md-2">
              <a class="text-decoration-none">Order</a>
            </li>
            <li class="pb-md-2">
              <a class="text-decoration-none">Transactions</a>
            </li>
            <li class="pb-md-2">
              <a class="text-decoration-none">Installment</a>
            </li>
            <li class="pb-md-2">
              <a class="text-decoration-none">Investors</a>
            </li>
          </ul>
        </div>
        <div class="columns col-lg-3 col-sm-6 pl-lg-5 mt-lg-0 mt-sm-5 mt-4">
          <h6 class="text-secondary fw-bold mt-3">Our transactions</h6>
          <ul class="list-unstyled">
            <li class="pb-md-2">
              <a class="text-decoration-none" (click)="openCustomers()"
                >Customers</a
              >
            </li>
            <li class="pb-md-2">
              <a class="text-decoration-none" (click)="openCategory()"
                >Categories</a
              >
            </li>
            <li class="pb-md-2">
              <a class="text-decoration-none" (click)="openProducts()"
                >Products</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
