<div class="main">
 <mat-card >
  <mat-card-content>
    <div class="header text-center my-5">
      <P class="sigin"> {{ "logIn.Sign" | translate }}</P>
    </div>
    <form  [formGroup]="loginForm">
      <div class="email-input">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{ "logIn.Email" | translate }}</mat-label>
          <input
            formControlName="email"
            matInput
            placeholder="{{'logIn.enter-email'|translate}}" required
          />
          <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
            {{'logIn.email-field'|translate}} <strong>{{'logIn.required'|translate}}</strong> 
            </mat-error>
        </mat-form-field>
      </div>

      <div>
        <span>
          <a class="text-link" class="aLink" > {{ "logIn.Forgot-Password" | translate }}</a>
        </span>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{ "logIn.Password" | translate }}</mat-label>
          <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" required />
          <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
          [attr.aria-pressed]="hide">
          <mat-icon>
              {{hide ? 'visibility_off' : 'visibility'}}
          </mat-icon>
      </button>
      <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
        {{'logIn.password-field'|translate}} <strong>{{'logIn.required'|translate}}</strong> 
        </mat-error>
      </mat-form-field>
      </div>
      <button mat-flat-button color="primary"  type="button" (click)="login(loginForm.value)"> {{ "login" | translate }}</button>
    </form>

    <div class="button-row">
      <a class="text-link"  ><p> {{ "logIn.new-account" | translate }}</p></a> 
    </div>
  </mat-card-content>
</mat-card>
</div>