
 <mat-card>
  <mat-card-content>
    <div class="header">
      <P class="sigin">Sign Into Your Account </P>
    </div>
    <form  [formGroup]="loginForm">
      <div class="email-input">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input
            formControlName="email"
            matInput
            placeholder="Enter email address" required
          />
          <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
              Email is <strong>required</strong> 
            </mat-error>
        </mat-form-field>
      </div>

      <div>
        <span>
          <a class="text-link" class="aLink" >Forgot Password?</a>
        </span>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" required />
          <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
          [attr.aria-pressed]="hide">
          <mat-icon>
              {{hide ? 'visibility_off' : 'visibility'}}
          </mat-icon>
      </button>
      <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
          Password is <strong>required</strong> 
        </mat-error>
      </mat-form-field>
      </div>
      <button mat-flat-button color="primary"  type="button" (click)="login(loginForm.value)">Login</button>
    </form>

    <div class="button-row">
      <a class="text-link"  ><p>Create New Account</p></a> 
    </div>
  </mat-card-content>
</mat-card>