mat-card {
    max-width: 600px;
    margin: 5em auto;
    max-height: 600px;
  }
  .main {
    height: 630px;
  }
  
  
  .full-width {
    width: 80%;
  }
  
  .button-row {
    padding-top: 5px;
  }
  
  .button-row a {
    margin-right: 8px;
  }
  
  .email-input{
    padding-top: 10px;
  }
    
  .aLink{
    float: right;
    padding-right: 60px;
  }
  